


.flex-center {
    display: flex;
    flex-direction: row;
    justify-content: center
}

.headline-area {
    text-align: center;
}

.self-pic {
    width: 200px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
}

.headline-text {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.text-box {
    max-width: 70%
}
.top-circle, .bottom-circle {
    width: 300px;
    height: 100%;
}

  @media only screen and (min-width: 400px) {
  }

  @media only screen and (min-width: 600px) {
  }