* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

.page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo-name {
    display: flex;
    flex-direction: row;
}

.logo {
    height: 50px;
    margin: 15px 15px;
}

.firstname {
    margin-top: 30px;
    margin-left: -10px;
}

.lastname {
    margin-top: -25px;
    margin-left: -10px;
}

.contact-list {
    margin: 15px;
}

main {
    text-align: center;
}

.headline {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.top-circle, .bottom-circle {
    width: 75%;
}

.top-circle {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.bottom-circle {
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
  }

  @media only screen and (min-width: 400px) {
    .top-circle, .bottom-circle {
        width: 200px;
    }

    .headline {
        width: 300px;
    }
}