/* for the index */
* {
    box-sizing: border-box;
}

html {
    background-color: #F2F6FF;
    font-family: 'Lato', sans-serif;
}

body {
    font-size: 18px;
    background-color: #F2F6FF;
}

main {
    background-color: #F2F6FF;
    text-align: center;
}

.page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFF3D9;
}

.page-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #BAA87F;
}

.logo-name {
    display: flex;
    flex-direction: row;
}

.logo {
    height: 50px;
    margin: 15px 0 0 15px;
}

.contact-list, .navigation-list {
    margin-top: 25px;
}

.footer-name {
    font-size: 15px;
    margin: 8px 0 0 5px;
    font-family: 'Lobster Two', cursive;
}

.header-name {
    font-size: 20px;
    margin: 36px 0 0 5px;
    font-family: 'Lobster Two', cursive;
}

.contact-list-footer, .navigation-list-footer {
    margin-bottom: 20px;
    margin-top: 10px;
}

.navigation-list {
    margin-left: 60px;
}

.contact-list, .contact-list-footer {
    margin-right: 5px;
}

.headline {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

a:link {
    color: black;
}

.top-circle, .bottom-circle {
    width: 75%;
    border: 1px solid #BAA87F;
}

.top-circle {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.bottom-circle {
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
}

.grow:hover { transform: scale(1.2); }

@media only screen and (min-width: 400px) {
    .top-circle, .bottom-circle {
        width: 200px;
    }

    .headline {
        width: 300px;
    }

    .footer-name {
        font-size: 22px;
        margin: 5px 0 0 10px;
    }

    .contact-list, .contact-list-footer {
        margin-right: 10px;
    }
}

/* for the .projects-section */
.card-title {
    text-align: center;
    margin-top: 5px;
}

.project-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card-styling {
    margin: 20px;
    
}

.flex-center {
    display: flex;
    flex-direction: row;
    justify-content: center
}

h4 {
    text-align: left;
    margin-left: 10px;
}

.headline-area {
    text-align: center;
}

/* for about me section */
.self-pic {
    width: 200px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
}

.headline-text {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Mali', cursive;
}

.text-box {
    max-width: 75%;
}

/* display variation */
.hidden {
    display: none;
  }