* {
    box-sizing: border-box;
  }
  
  body {
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
  }
  
  nav {
    padding: 3% 0 3% 0;
    background-color: #aaa;
  }
  
  section {
    min-height: 500px;
    padding: 6% 0;
    background-color: #bbb;
  }