* {
    box-sizing: border-box;
}

header {
    display: flex;
}

.logo {
    height: 50px;
    margin: 15px 15px;
}

.header-img {
    width: 100%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    float: center;
}

h1 {
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.project-section {
    border: 1px solid black;
    margin: 2% 5% 5% 5%;
    max-width: 300px;
}

.project-section > p {
    margin: 10px 10px 0 10px;
}

@media only screen and (min-width: 400px) {
      .header-img {
          margin-top: -30%;
      }
  }

  @media only screen and (min-width: 600px) {
    .header-img {
        margin-top: -50%;
    }
  }