.card-title {
    text-align: center;
    margin-top: 5px;
}

.projects-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card-styling {
    margin: 20px;
}